---
pagination:
  data: api
  size: 1
  addAllPagesToCollections: true
  alias: apis
tags:
  - apis
  - {{apis.Titulo}}
permalink: "apis/{{apis.id}}/index.html"
---

{% extends "base.njk" %}

{% block head %}{% endblock %}

{% block content %}


{% endblock %}