---
permalink: "contacto/index.html"
---

{% extends "base.njk" %}

{% block head %}{% endblock %}

{% block content %}



<!-- Content
================================================== -->


<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-8 col-lg-8 offset-xl-2 offset-lg-2" style="padding-top:4rem">

			<!--section id="contact" class="margin-bottom-60">
				<h2>Contáctanos</h2>
				<br>
				<br>
				<h3 class="headline margin-top-15 margin-bottom-35">Any questions? Feel free to contact us!</h3>

				<form method="post" name="contactform" id="contactform" autocomplete="on">
					<div class="row">
						<div class="col-md-6">
							<div class="input-with-icon-left">
								<input class="with-border" name="name" type="text" id="name" placeholder="Your Name" required="required" />
								<i class="icon-material-outline-account-circle"></i>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-with-icon-left">
								<input class="with-border" name="email" type="email" id="email" placeholder="Email Address" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
								<i class="icon-material-outline-email"></i>
							</div>
						</div>
					</div>

					<div class="input-with-icon-left">
						<input class="with-border" name="subject" type="text" id="subject" placeholder="Subject" required="required" />
						<i class="icon-material-outline-assignment"></i>
					</div>

					<div>
						<textarea class="with-border" name="comments" cols="40" rows="5" id="comments" placeholder="Message" spellcheck="true" required="required"></textarea>
					</div>

					<input type="submit" class="submit button margin-top-15" id="submit" value="Submit Message" />

				</form>
			</section-->

			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdai1ArxHllxY8KyzpgXAN7YpaP38nvs43hRr0dI8tPuEp2Cg/viewform?embedded=true" width="640" height="542" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>

		</div>

	</div>
</div>
<!-- Container / End -->

{% endblock %}
