---
pagination:
  data: historias
  size: 1
  addAllPagesToCollections: true
  alias: hist
tags:
  - hist
  - {{hist.Titulo}}
permalink: "historias/{{hist.id}}/index.html"
---

{% extends "base.njk" %}

{% block head %}{% endblock %}

{% block content %}


{% endblock %}